*{
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: 20px;
 }
 body {
   display: block;
   margin: 0px;
 }

 
 #banner1{
  position: relative;
  background-image: url(../imagen/p.png);
  background-size: cover;
  background-position: center;
  height: 51.4vw; 
}

 header{
   height: 100px;
   padding: 0 50px;
   color: aliceblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 0 10px black;
   background: rgba(0, 0, 0, 0.157);
 }

 .menu a{
   color: rgb(255, 255, 255);
   text-transform: uppercase;
   text-decoration: none;
   padding: 0 10px;
   transition: 0.4s;
   font-size: 20px;
 }
 
 .borde-l{
  border-bottom: solid #BB4F06 5px;
 }
 .mostrar-menu,
 .esconder-menu{
   font-size: 40px;
   cursor: pointer;
   transition: 0.4s;
   display: none;
 }
 
 .mostrar-menu{
   order: 1;
 }
 
 .menu a:hover,
 .mostrar-menu:hover,
 .esconder-menu:hover{
   color: #BB4F06;
   text-shadow: 0 0 10px;
 }
 
 #check{
   display: none;
 }

 /*FIN MENU REPONSIVE*/

 
